@font-face {
  font-family: "HalvarBreitschrift", sans-serif;
  src: url("../fonts/HalvarBreit-Rg.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HalvarBreitschrift", sans-serif;
  src: url("../fonts/HalvarBreit-Blk.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HalvarBreitschrift", sans-serif;
  src: url("../fonts/HalvarBreit-Th.woff");
  font-weight: thin;
  font-style: normal;
}
