.card {
  width: calc(var(--container-width) / var(--columns-amount) * 4);
}

.card:nth-child(4n + 1),
.card:nth-child(4n) {
  width: calc(var(--container-width) / var(--columns-amount) * 7);
}

.wishDescription {
  color: var(--font-secondary);
  font-weight: 100;
}

.wishImage {
  margin-bottom: 32px;
  width: 100%;
  filter: grayscale(100%);
}

.wishImage:hover {
  transform: scale(1.05);
  transition: all 0.5s linear;
  filter: none;
}
.oval {
  border-radius: 400px;
}

.rectangleWithRadius {
  border-radius: 40px;
}

.rectangle {
  box-sizing: border-box;
}

.halfRectangle {
  border-bottom-left-radius: 200px;
  border-top-right-radius: 200px;
}
